.StartLoggedOut {
}

.StartLoggedOut__Container--Img {
  background-image: url("/Images/brooke-lark-254998-unsplash.jpg");
  background-size: cover;
  min-height: 500px;
}

.StartLoggedOut__Container--Bg {
  background-color: #ff6e00;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.StartLoggedOut__Card--Main {
  margin-top: 150px;
  margin-bottom: 100px;
  background-color: #ff667f;
}

.StartLoggedOut__Card--Text {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.StartLoggedOut__Card--Title {
  color: seashell;
  font-size: 20px;
}

.StartLoggedOut__Card--Description {
  color: seashell;
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.StartLoggedOut__Card--Button {
  margin-top: 30px;
  color: white;
  background-color: #ffca44;
  border-style: none;
}
