.RecipeDetail {

}

.RecipeDetail__Container--Top {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.RecipeDetail__Container--Bottom {
}

.RecipeDetail__Container--Side {
}

.RecipeDetail__Container--Main {
}

.RecipeDetail__Container--Ingredients {

}

.RecipeDetail__Container--Image {
  align-self: flex-start !important;

  align-items: flex-start !important;
}

.RecipeDetail__Image {
  align-self: flex-start !important;
  padding-top: 0 !important;
}

.RecipeDetail__Button--Default {
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  .RecipeDetail__Container--Top {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .RecipeDetail__Container--Bottom {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .RecipeDetail__Container--Side {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .RecipeDetail__Container--Main {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
