.RecipeDetail {

}

.RecipeDetail__ContainerTop {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.RecipeDetail__ContainerBottom {
}

.RecipeDetail__ContainerSide {
}

.RecipeDetail__ContainerMain {
}

.RecipeDetail_ContainerMainFlex {

}

.RecipeDetail__ContainerIngredients {

}

.RecipeDetail__ContainerImage {
  align-self: flex-start !important;
  align-items: flex-start !important;
}

.RecipeDetail__Image {
  align-self: flex-start !important;
  padding-top: 0 !important;
}

.RecipeDetail__ButtonDefault {
  margin-right: 0.5rem;
}

.RecipeDetail__ButtonAdd {
  margin-top: 0.5rem;
  color: white;
  background-color: #ffca44;
  border-style: none;
}

@media screen and (max-width: 768px) {
  .RecipeDetail__ContainerTop {
    padding-right: 2rem;
    padding-left: 1.3rem;
  }
  .RecipeDetail__ContainerBottom {
    padding-right: 2rem;
    padding-left: 1.3rem;
  }

  .RecipeDetail__ContainerSide {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .RecipeDetail__ContainerMain {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .RecipeDetail_ContainerMainFlex {
    display: flex;
    flex-direction: column-reverse;
  }
}
