.LogIn {
  height: 100vh;
}

.ResetPassword__Container--Img {
  background-image: url("/Images/brooke-lark-254998-unsplash.jpg");
  background-size: cover;
}

.ResetPassword__Container--Left {

}

.ResetPassword__Brand {
  padding-top: 50px;
  padding-left: 50px;
  color: #ff6e00;
  font-weight: 400;
  font-size: 30px;
}

.ResetPassword__BrandLink {
  color: inherit;
  padding: 15px;
}

.ResetPassword__BrandLink--WhiteBg {
  background-color: #FFF;
}

.ResetPassword__Container--Bg {
  background-color: seashell;
}

.ResetPassword__Container--Right {
  background-color: white;
  margin-top: 50px;
  margin-right: 25px;
  margin-left: 25px;
  padding: 70px;
  border-radius: 5px;

}

.ResetPassword__Title {
  color: pink;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 15px;
}

.ResetPassword__Info--Small {
  font-size: 10px;
  color: gray;
  padding: 5px;
}
