.CreateRecipe{
  
}

.CreateRecipe__Container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.CreateRecipe__Container--Left {

}

.CreateRecipe__Container--Right {
  padding: 50px 100px 50px 100px;
  margin-left: 50px;
  background-color: blue;
}