.header {
    background-color: seashell;
}

.header__title {
    color: #ff6e00;
    font-weight: 400;
}

.header__button--pink {
    color: white;
    background-color: #ff667f;
    border-style: none;
}

.header__button--yellow {
    color: white;
    background-color: #ffca44;
    border-style: none;
}

@media screen and (max-width: 1087px) {
    .buttons .button:not(:last-child):not(.is-fullwidth) {
        margin-right: 0;
    }

    .header__buttons {
        display: block;
    }

    .header__button--yellow {
        display: block;
    }

    .header__button--pink {
        display: block;
    } 
}