.BrowseRecipes__Container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.levelHeader {
  display: block;
}

.levelContent {
  display: block;
  padding-right: 1rem;
  max-width: 500px;
}

.levelLink {
  display: inline-block;
  padding-right: 2rem;
}

.levelHr {
  color:grey;
}

.level {
}
