.BrowseRecipes__Container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.BrowseRecipes__Container--Right {

}

.BrowseRecipes__Container--Left {

}

@media screen and (max-width: 768px) {
  .BrowseRecipes__Container--Right {
    padding: 2rem;
  }
  .BrowseRecipes__Container--Left {
    padding: 2rem;
  }
}

.RecipeListItem__LevelHeader {
  display: block;
}

.RecipeListItem__LevelContent {
  display: block;
  padding-right: 1rem;
  max-width: 500px;
}

.RecipeListItem__LevelLink {
  display: inline-block;
  padding-right: 2rem;
}

.RecipeListItem__LevelHr {
  color:grey;
}

.RecipeListItem__Image {
  margin-top: 0.5rem;
}
